@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #050a1f;
}

.fade-slide-in {
    opacity: 0;
    transform: translateX(-1.6%);
    transition: opacity 0.6s ease-in-out, transform 0.65s ease-in;
}

.fade-slide-in.loaded {
    opacity: 1;
    transform: translateX(0%);
}